name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6.2.1
        with:
          tflint_version: v0.53.0

      - name: Setup terraform-docs
        uses: terraform-docs/gh-actions@v1.3.0
        with:
          terraform_docs_version: v0.17.0
          working_dir: .
          output_method: print

      - name: Install pre-commit
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install pre-commit

      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate -no-color
